@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .bg-hero-about {
        z-index: -1;
    }
    .bg-notification {
        z-index: 50;
    }
    .bg-about-us {
        background: url('../images/tower_base.jpg');
        /* width: 200px;
        height: 300px; */
        /* object-fit: fill; */
    }
  }